{% extends 'Music/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'Music/css/detail-style.css' %}">
    <title>{{ music.name }}</title>
{% endblock %}



{% block main %}
    <main>
        <div class="container" style="border-radius: 12px;">
            <div class="container mt-3 w-100" style="background :linear-gradient(to right,rgba(78, 77, 77, 0.8),rgba(125,125,125,.4));border-radius: 12px;">
                <div class="category">
                    <strong class="mt-3">{{ music.singer }} / {{ music.name }}</strong>
                </div>
                <div class="detail-header">
                    <span>{{ music.name }}</span>
                    <span>{{ music.slug }}</span>
                </div>
            </div>
            <div class="container p-3" >
                <div class="row">
                    <div class="col-lg-4 ps-2 overflow-auto test shadow scroll" style="height: 400px; border: 2px solid #84b3b9;border-radius: 6px" dir="rtl">
                        {% for item in related_list %}
                            <a href="{% url 'music:detail' item.slug %}">
                                <div class="item shadow">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                    <div class="description">
                                        <p>{{ item.name }}</p>
                                        <p>{{ item.singer }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 col-md-6 justify-content-center p-1 pt-0" style="height: 400px;">
                        <img src="{{ music.image.url }}" alt="" style="width: 100%;height: 400px; border-radius: 15px;">
                    </div>
                    <div class="col-lg-4 col-md-6" style="height: 400px;">
                        <div class="row">
                            <div class="col-12 mb-2 mt-2" style="width: 100%;height:186px;">
                                <div class="song--desc--header d-flex justify-content-center align-items-center" style="background-color:#444;border-top-left-radius: 10px; border-top-right-radius: 10px;height:42px;">
                                    Music play
                                </div>
                                <div class="song--desc--body" style="height: 144px;">
                                    <div class="container-fluid">
                                        <!--audio progress -->
                                        <div class="audio-duration d-flex align-items-center justify-content-between">
                                            <i class="ms-0 float-left" id="start-time" style="flex-grow: 1;">0:00</i>
                                            <div class="range mx-3" style="flex-grow: 8; margin: auto 2px;">
                                                <input id="duration-time" type="range" min="0" max="{{ music.music_length }}" step="1" value="0">
                                            </div>
                                            <i id="end-time" class="float-right" style="flex-grow: 1;width: 24px;">{{ music.music_length }}</i>
                                        </div>

                                        <!-- audio controlls-->
                                        <div class="audio-buttons">
                                            <a href="#" >
                                                <span title="like music">
                                                    <i class="fa fa-heart" aria-hidden="true" style="font-size: 24px;{% if request.user in music.users_like.all %}color:red {% else %}color:#d2efa3{% endif %}" id="add-favorite" data-id="{{ music.id }}" data-action="{% if request.user in music.users_like.all %}un{% endif %}like"></i>
                                                </span>
                                            </a>
                                            <span id="play">
                                                <svg  id="play-btn" class="active bi bi-play-circle-fill" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <svg id="stop-btn" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                                                </svg>
                                            </span>
                                            <a href="#">
                                                <span title="save to playlist">
                                                    <i class='fa fa-bookmark' style="font-size: 26px;{% if request.user in music.user_playlist.all %}color:black {% else %}color:#d2efa3{% endif %}" id="add-playlist" data-id="{{ music.id }}" data-action="{% if request.user in music.user_playlist.all %}un{% endif %}save"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <!-- audio sounds -->
                                        <div class="audio--sounds">
                                            <input id="sound-range" type="range" dir="ltr" min="0" max="1" step=".1" style="background-color: aqua; width: 70px;">
                                            <span id="audio-unmute" class="text-primary ms-2 active">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                                                    <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                                                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                                                    <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                                                  </svg>
                                            </span>
                                            <span id="audio-mute" class="text-danger ms-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-volume-mute" viewBox="0 0 16 16">
                                                    <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-2" style="width: 100%; height: 96px;">
                                <div class="song--download--header d-flex justify-content-center align-items-center" style="height: 27.2px;background-color:#444;">
                                    download
                                </div>
                                <div class="song--download--body d-flex justify-content-center align-items-center" style="height: 68px;background-color:rgba(0, 0, 0, .5);">
                                    <a download="{{ music.name }}" href="{{ music.image.url }}">
                                        <button class="btn btn-success ">320 kb</button>
                                        <button class="btn btn-danger ">128 kb</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12" style="width: 100%; height: 96px;">
                                <div class="song--view--header d-flex justify-content-center align-items-center" style="height: 27.2px;background-color:#444;">
                                    views
                                </div>
                                <div class="song--view--body d-flex align-items-center justify-content-center text-white" style="height: 68px;background-color:rgba(0, 0, 0, .5);border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">1024 played! </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 p-4 pb-0">
                    <audio id="audio">
                        <source src="{{ music.music.url }}" type="audio/mp3">
                    </audio>
                </div>
            </div>
        </div>
       <!-- Button trigger modal -->

<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Need Login</h5>
        <button type="button" class="btn-close" id="close-modal-lab" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        To add a song to your favorites, you must first be a member of the site
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-modal" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'account:register' %}"><button type="button" class="btn btn-primary">Register</button></a>
      </div>
    </div>
  </div>
</div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'Music/js/audioControls.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#    <script src="{% static 'Music/js/like_save.js' %}"></script>#}
    <script src="{% static 'Music/js/ajaxSetup.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#add-favorite').click((e) => {
                e.preventDefault()
                $.post('{% url "music:like" %}', {
                    id: $('#add-favorite').data('id'),
                    action: $('#add-favorite').data('action'),
                },function (data) {
                    if(data['status'] === 'add'){
                        $('#add-favorite').css('color', 'red');
                        $('#add-favorite').data('action', 'unlike');
                    }else if(data['status'] === 'remove'){
                        $('#add-favorite').css('color', '#d2efa3');
                        $('#add-favorite').data('action', 'like');
                    }else if(data['status'] === 'not authorize') {
                        $('#exampleModal').addClass('show')
                        $('#exampleModal').css('display','block')
                        $('#close-modal').click ( e => {
                            $('#exampleModal').removeClass('show')
                            $('#exampleModal').css('display','none')
                        })
                        $('#close-modal-lab').click( e => {
                            $('#exampleModal').removeClass('show')
                            $('#exampleModal').css('display','none')
                        })
                    }
                })
            })
            $('#add-playlist').click((e) => {
                e.preventDefault()
                console.log($('#add-playlist').data('id'))
                $.post('{% url "music:save" %}', {
                    id: $('#add-playlist').data('id'),
                    action: $('#add-playlist').data('action'),
                },function (data) {
                    if(data['status'] === 'save'){
                        $('#add-playlist').css('color', 'black');
                        $('#add-playlist').data('action', 'unsave');
                    }else if(data['status'] === 'remove'){
                        $('#add-playlist').css('color', '#d2efa3');
                        $('#add-playlist').data('action', 'save');
                    }else if(data['status'] === 'not authorize') {
                        $('#exampleModal').addClass('show')
                        $('#exampleModal').css('display','block')
                        $('#close-modal').click ( e => {
                            $('#exampleModal').removeClass('show')
                            $('#exampleModal').css('display','none')
                        })
                        $('#close-modal-lab').click( e => {
                            $('#exampleModal').removeClass('show')
                            $('#exampleModal').css('display','none')
                        })
                    }
                })
            })
        })
    </script>
{% endblock %}
