.slide {
    display: none;
    position: relative;
}

.slide.active {
    display: block;
}
.points span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #aaa;
    border-radius: 50%;
    margin-top: 10px;
}
.points span.active{
    background-color: #555;
}

.h2-color{
    color: yellow !important;
}

.owl-carousel-image {
    width: 100%;
    height: 200px !important;
}
.t-box{
    background: #141414 linear-gradient(to bottom,#2c2c2c,#141414);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.t-box p{
    margin-top: 2px;
    font-size: 20px;
    color: #bd5678;
}

.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414 linear-gradient(to bottom,#2c2c2c,#141414);
    border-radius: 6px;
    box-shadow: 4px 4px rgb(165, 220, 17);
    height: 335px;
}
.view-more p {
    color: rgba(239, 230, 82, 0.84);
}




