<section class="py-4 bg-secondary bg-opacity-25">
    <div class="container">
        <h2 class="mt-0 text-center">Albums</h2>
        <hr style="height: 5px; ">
        <div class="row g-4 fixWidth">
            {% for album in albums %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="#" class="card-link">
                        <div class="card--section">
                            <img class="card-image" src="{{ album.image.url }}" alt="">
                            <div class="card--detail">
                                <h3>{{ album.name }}</h3>
                            </div>
                            <div class="card--footer">
                                <span>{{ album.musics.count }}</span>
                                <span>pop</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>