{% load static %}
<div class="col-lg-8 slideImageContainerFix" style="height: 670px"> <!-- style="background-image: linear-gradient(to bottom, #c33764, #1f1c18);" -->
     <div class="text-center p-3 pt-0">
         <div class="slideshow">
             <div class="slides ">
                 <div class="slide active">
                     <img src="{% static 'Music/images/concert1.jfif' %}" alt="concert" class="slideImageFix">
                 </div>
                 <div class="slide">
                     <img src="{% static 'Music/images/concert2.jpg' %}" alt="concert" class="slideImageFix">
                 </div>
                 <div class="slide">
                     <img src="{% static 'Music/images/concert3.jfif' %}" alt="concert" class="slideImageFix">
                 </div>
             </div>
             <div class="points">
                 <span class="active"></span>
                 <span></span>'
                 <span></span>
             </div>
         </div>
     </div>
 </div>