<section class="py-4 bg-secondary bg-opacity-25">
    <div class="container">
        <h2 class="mt-0 text-center">New songs</h2>
        <hr style="height: 5px; ">
        <div class="row g-4 fixWidth">
            {% for music in new_musics %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <a href="{% url 'music:detail' music.slug %}" class="card-link">
                        <div class="card--section">
                            <img class="card-image" src="{{ music.image.url }}" alt="">
                            <div class="card--detail">
                                <h3>{{ music.name }}</h3>
                            </div>
                            <div class="card--footer">
                                <span>1024 played</span>
                                <span>pop</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="col-lg-2 col-md-4 col-sm-6 view-more">
                    <a href="{% url 'music:list' %}">
                        <div>
                            <p>View More ...</p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</section>