{% extends 'registration/base.html' %}
{% block page_title %}Login{% endblock %}

{% block main %}
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="box-sizing: border-box">
			<div class="card-header">
				<h3>password reset</h3>
				<div class="d-flex justify-content-end social_icon">
					<a href="{% url 'homepage' %}" title="Home"><span><i class="fa fa-home"></i></span></a>
					<!-- social authentication
                    <span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span> -->
				</div>
			</div>
			<div class="card-body">
                <div style="color: white;font-size: 14px;margin-bottom: 6px">Enter email to send reset email for you:</div>
				<form method="post"> {% csrf_token %}
					<div class="input-group form-group">

						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						{{ form.email }}
                        <div  style="width: 100%"></div>
                        {% for error in form.username.errors %}
                            <p class="my-2 text-danger">{{ error }}</p>
                        {% endfor %}
					</div>
					<div class="form-group">
						<input type="submit" value="submit" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>
</div>
{% endblock %}