{% extends 'registration/base.html' %}

{% block page_title %}Complete password reset{% endblock %}

{% block main %}
    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="box-sizing: border-box">
			<div class="card-header">
				<h3>Reset password</h3>
				<div class="d-flex justify-content-end social_icon">
					<a href="{% url 'homepage' %}"><span><i class="fa fa-home"></i></span></a>
					<!-- social authentication
                    <span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span> -->
				</div>
			</div>
			<div class="card-body">
				<form method="post"> {% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{ form.new_password1 }}
                        <div  style="width: 100%"></div>
                        {% for error in form.new_password1.errors %}
                            <p class="my-2 text-danger">{{ error }}</p>
                        {% endfor %}
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						{{ form.new_password2 }}
                        <div  style="width: 100%"></div>
                        {% for error in form.new_password2.errors %}
                            <p class="my-2 text-danger">{{ error }}</p>
                        {% endfor %}
					</div>
					<div class="form-group">
						<input type="submit" value="Submit" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
                    have an account?<a href="{% url 'account:login' %}">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}